.features {
  background-color: color(secondary);

  &-content {
    @include maxWidth();
    @include sectionSpacing();
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 4rem;

    .feature {
      i {
        font-size: size(xxl) + 1rem;
        color: color(primary);
      }

      h3 {
        @include headingStyles();
        font-size: size(md);
      }

      p {
        @include textStyles();
        font-size: size(xs);
        color: color(grey);
      }
    }
  }
}
