.two-col {
  &-content {
    @include maxWidth();
    @include sectionSpacing();

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;

    @include responsive(xl) {
      grid-template-columns: 1fr;
    }

    .col-info {
      @include responsive(xl) {
        order: -1;
      }
    }

    .col {
      h2 {
        @include headingStyles();
        color: color(grey);
        font-size: size(xl);
      }

      p {
        @include textStyles();
        color: color(grey);
        font-size: size(md);
      }
    }
  }

  &.bg-light {
    background-color: color(secondary);
  }

  &.bg-dark {
    background-color: color(tertiary);

    h2,
    p {
      color: color(white);
    }
  }
}
