@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: $direction;
}

@mixin sectionSpacing() {
  padding: 5rem 2rem;
}

@mixin headingStyles() {
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

@mixin textStyles() {
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.6;
}

@mixin maxWidth() {
  max-width: 1400px;
  margin: 0 auto;
}

@mixin responsive($breakpoint) {
  @if ($breakpoint == xxl) {
    @media (max-width: 1000px) {
      @content;
    }
  }

  @if ($breakpoint == xl) {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if ($breakpoint == lg) {
    @media (max-width: 810px) {
      @content;
    }
  }

  @if ($breakpoint == md) {
    @media (max-width: 650px) {
      @content;
    }
  }

  @if ($breakpoint == sm) {
    @media (max-width: 500px) {
      @content;
    }
  }
}
